<form ng-submit="getPageList()" role="form" class="form-horizontal">
    <legend>Get Page List</legend>
    <div class="form-group">
        <label for="access_token" class="col-sm-3 control-label">Token</label>
        <div class="col-sm-6">
            <input type="text"
                   id="access_token"
                   name="access_token"
                   placeholder="Token"
                   class="form-control"
                   title="Required. Access token of the Telegraph account."
                   ng-model="access_token"
                   required
                   disabled>
        </div>
    </div>

    <div class="form-group">
        <label for="offset" class="control-label col-sm-3 ">Number of the first page</label>
        <div class="col-sm-6">
            <input ng-model="offset"
                   class="form-control"
                   id="offset"
                   type="number"
                   name="offset"
                   placeholder="Sequential number"
                   title="Sequential number of the first page to be returned. (Integer, default = 0)">
        </div>
    </div>

    <div class="form-group">
        <label for="limit" class="col-sm-3 control-label">Number of pages</label>
        <div class="col-sm-6">
            <input ng-model="limit"
                   class="form-control"
                   id="limit"
                   type="number"
                   name="limit"
                   placeholder="limit"
                   title="Limits the number of pages to be retrieved."
                   max="200">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <button class="btn btn-primary">Get page list</button>
        </div>
    </div>
</form>
<div class="pages jumbotron">
    <div class="pre" ng-repeat="page in pages">
        <p>Path: <span><strong>{{page.path}}</strong></span></p>
        <p>Url: <span><strong>{{page.url}}</strong></span></p>
        <p>Title: <span><strong>{{page.title}}</strong></span></p>
        <p>Description: <span><strong>{{page.description}}</strong></span></p>
        <p>Views: <span><strong>{{page.author_name}}</strong></span></p>
        <p>Editable: <span><strong>{{page.can_edit}}</strong></span></p>
        <br>
        <br>
    </div>
</div>