<!DOCTYPE html>
<html lang="en" ng-app="TerminalApp">

<head>

    <meta charset="UTF-8">
    <title>Telegraph terminal</title>
    <!-- Latest bootstrap compiled and minified CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <!--Custom css
    <link rel="stylesheet" href="">-->
    <!--Angular-->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <!--App scripts-->
    <script src="app/TerminalApp.js"></script>
    <!--Services-->
    <script src="app/DataService.js"></script>
    <!--Controllers-->
    <script src="app/createAccount/createAccountController.js"></script>
    <script src="app/editAccountInfo/editAccountInfoController.js"></script>
    <script src="app/revokeAccessToken/revokeAccessTokenController.js"></script>
    <script src="app/createPage/createPageController.js"></script>
    <script src="app/getPageList/getPageListController.js"></script>
    <!--Directives-->
    <script src="app/createAccount/createAccountDirective.js"></script>
    <script src="app/editAccountInfo/editAccountInfoDirective.js"></script>
    <script src="app/revokeAccessToken/revokeAccessTokenDirective.js"></script>
    <script src="app/createPage/createPageDirective.js"></script>
    <script src="app/getPageList/getPageListDirective.js"></script>

</head>

<body ng-controller="MainController" style="padding-bottom: 50px;">

<div class="container">
    <div ng-view></div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Terminal</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a ng-click="createNewAccount()">New User</a></li>
            <li><a ng-click="editAccount()">Edit User Info</a></li>
            <li><a ng-click="revokeToken()">Revoke Token</a></li>
            <li><a ng-click="createNewPage()">Create Page</a></li>
            <li><a ng-click="getListOfPages()">Get Page List</a></li>
        </ul>
    </div>
</nav>

</body>

</html>
